*{
    padding:0;
    margin:0;
    text-decoration: none;
}
.home{
height: 100vh;
width: 100%;
background-color:#d86981;
}
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    background-color:#191919;
    border-bottom: 2px solid red;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color:white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor:pointer;
}
span{
    color:red;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding:10px 25px;
}
nav ul li a{
    color:white;
    font-weight: bold;
    font-size:20px;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:red;
    transition: 0.5s;
}
.btn{
    background-color: pink;
    font-size: 20px;
    text-align: center;
    color: #191919;
    border: 3px solid white;
    font-weight: bold;
    padding: 5px ;
    border-radius: 30px;
    transition: transform 0.5s;
}
.btn:hover{
    transform: scale(1.2);
    border: 2px solid red;
    background-color: white;
}
.content{
    background-color:rgb(238, 238, 150);
    height: 80vh;
}
.welcome{
    text-align: center;
    padding-top: 20px;
    
}
.gif{
    width:150px;
    padding-top: 20px;
}
.words{
    text-align: center;
    font-family: monospace;
    font-size: 15px;
}
.next{
    text-align: center;
    padding-bottom: 40px;
}
.lanjut{
    background-color: #191919;
    font-size: 20px;
    text-align: center;
    color: white;
    border: 3px solid red;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 30px;
    transition: transform 0.5s;
}
.lanjut:hover{
    color: red;
    transition: 0.5s;
}
.footernya{
    text-align: center;
    background-color: #191919;
    color:white;
    padding-bottom: 15px;
}
.baris1{
   padding-bottom: 10px;
}